<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
function deleteUser(userID: number) {
  userStore.deleteID = userID;
  userStore.dialogConfirmDelete = true;
}
</script>

<template>
  <UserDialog></UserDialog>
  <v-btn @click="userStore.dialog = true">Add New </v-btn>

  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>

        <td>
          <v-btn class="mr-5" @click="userStore.editUser(item)">Edit</v-btn
          ><v-btn class="mr-5" @click="deleteUser(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
